# cloud-provision-aws-security template

{{ if .ParamExists "aws/vpc" }}
# vpc provided by aws/vpc, do not lookup default
{{ else }}
resource "aws_default_vpc" "default" {
	tags = {
		Name = "Default VPC"
  }
}
{{ end }}

resource "aws_security_group" "digitalrebar_basic" {

	name_prefix 	= "drp_"
	description		= "Digital Rebar Cloud Wrapper"

  {{ if .ParamExists "aws/vpc" }}
	vpc_id = {{ .Param "aws/vpc" }}
  {{ else }}
	vpc_id = aws_default_vpc.default.id
  {{ end }}

  {{ range $i, $p := (.ComposeParam "network/firewall-ports" | uniq) }}
	{{-  if not (eq "*/*" $p) }}
  {{-   $portdef := split "/" $p -}}
	ingress {
		description = "network/firewall-ports[{{$i}}]"
		from_port   = {{$portdef._0}}
		to_port     = {{$portdef._0}}
		protocol    = "{{coalesce $portdef._1 "tcp"}}"
		cidr_blocks = ["0.0.0.0/0"]
	}
	{{   end }}
  {{ end }}
	egress {
		from_port   = 0
		to_port     = 0
		protocol    = "-1"
		cidr_blocks = ["0.0.0.0/0"]
	}
	tags = {
		Name = "digitalrebar"
	}
}

